BooksAndUsersXMLJSON/LibraryDTD.dtd

<!ELEMENT Library (User*)>
<!ELEMENT User (Name,Address,BooksRented*)>
<!ATTLIST User UserId ID #REQUIRED>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Address (#PCDATA)>
<!ELEMENT BooksRented (Title,Author,Price,Genre)>
<!ATTLIST BooksRented Rents IDREF #IMPLIED>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Author (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Genre (#PCDATA)>

