CompanyRegionXMLSCHEMA.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CompanyRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="CompanyInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CompId" />
        <xs:element ref="CompRegionId" />
        <xs:element ref="CompTransPort" />
        <xs:element ref="CompanyStreet" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="COMPANYINFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompId" type="xs:int" />
  <xs:element name="CompRegionId" type="xs:int" />
  <xs:element name="CompTransPort" type="xs:string" />
  <xs:element name="CompanyStreet" type="xs:string" />
  <xs:element name="COMPANYINFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CompInfoId" />
        <xs:element ref="City" />
        <xs:element ref="Address" />
        <xs:element ref="Zip" />
        <xs:element ref="Region" />
        <xs:element ref="CEO" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Office" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompInfoId" type="xs:int" />
  <xs:element name="City" type="xs:string" />
  <xs:element name="Address" type="xs:string" />
  <xs:element name="Zip" type="xs:int" />
  <xs:element name="Region" type="xs:string" />
  <xs:element name="CEO" type="xs:string" />
  <xs:element name="Office">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Department" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Manager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Department" type="xs:string" />
  <xs:element name="Manager">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" />
        <xs:element ref="Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name" type="xs:string" />
</xs:schema>